
.callback{
    min-height: 450px;
    background-image: url(../img/subscribe_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%  100%;
}

.callback_wrap{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 126px 0px;
}

.review{
    width: 360px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.review_text{
    display: flex;
    text-align: center;
    margin-top: 30px;
}   

.subscribe{
    width: 560px;
}

.subscribe_title{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #222224;
}

.subscribe_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.subscribe_form{
    display: flex;
    justify-content: center;
}

.subscribe_form_field{
    padding: 7px 64px 6px 22px;
    border: none;
    background-color: #E1E1E1;
    border-radius: 25px 0px 0px 25px;

}

.subscribe_form_field::placeholder{
    color: #222224;
}

.subscribe_form_button{
    padding: 7px;
    background-color: #F16D7F;
    border: none;
    color:  #FFFFFF;
    border-radius: 0px 25px 25px 0px;
}